.line {
  width: 0px;
  height: 47.5px;
  border: 1px solid #00a3ab;
}
.partOneWrapper {
  padding: 5vw 10vw;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.partOneTop {
  display: flex;
  gap: 5vw;
  align-items: center;
}
.partOneTopLeft {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 25px;
}
.partOneTopRight {
  flex: 1;
}
.button {
  background: #00a3ab;
  border-radius: 3px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  padding: 12px 47px;
  margin-top: 10px;
  width: fit-content;
}
.searchWrapper {
  background: #fcffff;
  box-shadow: 0px 4px 15px rgba(86, 160, 164, 0.14);
  border-radius: 133px;
  display: flex;
  justify-content: space-between;
  padding: 40px 73px;
}
.searchWrapperInside {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1a2e4a;
}
.buttonSearch {
  background: #00a3ab;
  border-radius: 25.5px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fcffff;
  display: flex;
  padding: 16px 32px;
  gap: 13px;
}
.boxWrapper {
  background: #fafafa;
  border-radius: 23.4998px;
  padding: 19px;
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.procedures {
  display: flex;
  margin: 0 7vw;
  justify-content: space-between;
  gap: 10px;
}
.boxWrapperTop {
  display: flex;
  gap: 10px;
}
.operation {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 23.6457px;
  line-height: 32px;
  color: #2e384d;
}
.hospital {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20.69px;
  line-height: 28px;
  color: #a9b3b2;
}
.longLine {
  background-color: #c1e7ec;
  width: 100%;
  height: 2px;
}
.description {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20.69px;
  line-height: 28px;
  color: #2e384d;
}
.view {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16.749px;
  line-height: 23px;
  color: #00a3ab;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.procedureText {
  text-align: center;
  margin-bottom: 90px;
}
.partTwoWrapper {
  background: rgba(255, 255, 255, 0.76);
  padding: 48px 0;
}
.departments {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-gap: 30px;
  grid-column-gap: 3vw;
  justify-content: center;
}
.department {
  background: #ffffff;
  border-radius: 16.1957px;
  padding: 26px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partThreeWrapper {
  padding: 80px;
}
.departmentTitle {
  font-weight: 400;
  font-size: 16.1957px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin: 10px 0;
}
.departmentsText {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #1a2e4a;
  margin-bottom: 77px;
}
.departmentText {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #7d889e;
}
.hospital {
  background: #fafafa;
  border-radius: 16.1957px;
}
.hospitalTitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
.hospitalText {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #7d889e;
}
.partFourWrapper {
  background: rgba(255, 255, 255, 0.76);
  padding: 49px 5vw;
}
.viewHospital {
  font-size: 16px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #00a3ab;
  margin-left: auto;
  display: flex;
  width: fit-content;
}
.imageHospital {
  border-radius: 13px 13px 0px 0px;
  width: 6vw;
  object-fit: contain;
}
.blogs {
  display: flex;
  justify-content: space-evenly;
}
.partFiveWrapper {
  padding: 49px 5vw;
}
.blogText {
  text-align: center;
  margin-bottom: 77px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(255, 255, 255, 0.76);
}
.input {
  border-radius: 39px;
  background: #fafafa;
  border: none;
  height: 52px;
  width: 376px;
  padding-left: 24px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1a2e4a;
}
.input::placeholder {
  color: #1a2e4a;
}
.subscribeBtn {
  height: 52px;
  width: 132px;
  background: #2e384d;
  border-radius: 42px;
  border-radius: 42px;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-left: -132px;
}
.subscribe {
  display: flex;
}
.input {
  background: none;
}
.hospitals {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.dots {
  display: flex;
  gap: 15px;
  margin: 30px auto;
  justify-content: center;
}
