.line {
  width: 0px;
  height: 47.5px;
  border: 1px solid #00a3ab;
}
.partOneWrapper {
  padding: 5vw 10vw;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.partOneTop {
  display: flex;
  gap: 5vw;
  align-items: center;
}
.partOneTopLeft {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 25px;
}
.partOneTopRight {
  flex: 1;
}
.button {
  background: #00a3ab;
  border-radius: 3px;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  padding: 12px 47px;
  margin-top: 10px;
  width: fit-content;
}
.searchWrapper {
  background: #fcffff;
  box-shadow: 0px 4px 15px rgba(86, 160, 164, 0.14);
  border-radius: 133px;
  display: flex;
  justify-content: space-between;
  padding: 40px 73px;
}
.searchWrapperInside {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1a2e4a;
}
.searchWrapperInside2 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1a2e4a;
}
.buttonSearch {
  background: #00a3ab;
  border-radius: 25.5px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fcffff;
  display: flex;
  padding: 16px 32px;
  gap: 13px;
  align-items: center;
}
.boxWrapper {
  background: #fafafa;
  border-radius: 23.4998px;
  padding: 19px;
  display: flex;
  flex-direction: column;
  width: 20vw;
}
.procedures {
  display: flex;
  margin: 0 7vw;
  justify-content: space-between;
  gap: 10px;
}
.boxWrapperTop {
  display: flex;
  gap: 10px;
}
.operation {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 23.6457px;
  line-height: 32px;
  color: #2e384d;
}
.hospital {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20.69px;
  line-height: 28px;
  color: #a9b3b2;
}
.longLine {
  background-color: #c1e7ec;
  width: 100%;
  height: 2px;
  margin: 10px 0;
}
.description {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20.69px;
  line-height: 28px;
  color: #2e384d;
  text-transform: capitalize;
}
.view {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16.749px;
  line-height: 23px;
  color: #00a3ab;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.procedureText {
  text-align: center;
  margin-bottom: 90px;
}
.partTwoWrapper {
  background: rgba(255, 255, 255, 0.76);
  padding: 48px 0;
}
.departments {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-gap: 30px;
  grid-column-gap: 3vw;
  justify-content: center;
}
.department {
  background: #ffffff;
  border-radius: 16.1957px;
  padding: 26px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partThreeWrapper {
  padding: 80px;
}
.departmentTitle {
  font-weight: 400;
  font-size: 16.1957px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin: 10px 0;
}
.departmentsText {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #1a2e4a;
  margin-bottom: 77px;
}
.departmentText {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #7d889e;
}
.hospital {
  background: #fafafa;
  border-radius: 16.1957px;
}
.hospitalTitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
.hospitalText {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #7d889e;
}
.partFourWrapper {
  background: rgba(255, 255, 255, 0.76);
  padding: 49px 5vw;
}
.viewHospital {
  font-size: 16px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #00a3ab;
  margin-left: auto;
  display: flex;
  width: fit-content;
}
.imageHospital {
  border-radius: 13px 13px 0px 0px;
  width: 6vw;
  object-fit: contain;
}
.blogs {
  display: flex;
  justify-content: space-evenly;
}
.partFiveWrapper {
  padding: 49px 5vw;
}
.blogText {
  text-align: center;
  margin-bottom: 77px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: rgba(255, 255, 255, 0.76);
}
.input {
  border-radius: 39px;
  background: #fafafa;
  border: none;
  height: 52px;
  width: 376px;
  padding-left: 24px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #1a2e4a;
}
.input::placeholder {
  color: #1a2e4a;
}
.subscribeBtn {
  height: 52px;
  width: 132px;
  background: #2e384d;
  border-radius: 42px;
  border-radius: 42px;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-left: -132px;
}
.subscribe {
  display: flex;
}
.input {
  background: none;
}
.hospitals {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
.dots {
  display: flex;
  gap: 15px;
  margin: 30px auto;
  justify-content: center;
}
.viewWrapper {
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .partOneTop {
    flex-direction: column-reverse;
  }
  .partOneTopRight {
    width: 90%;
  }
  .button {
    font-size: 12px;
    line-height: 11px;
    margin: 0 auto;
  }
  .searchWrapperInside2 {
    display: none;
  }
  .searchWrapper {
    padding: 0;
  }
  .input {
    font-size: 14px;
    line-height: 19px;
    height: 20px;
    padding-left: 0px;
    width: 200px;
  }
  .line {
    display: none;
  }
  .partOneWrapper {
    padding: 36px 5vw;
    gap: 40px;
  }
  .buttonSearch {
    font-size: 14px;
    line-height: 19px;
    padding: 10px;
    gap: 10px;
  }
  .icon {
    width: 14px;
  }
  .searchWrapperInside {
    margin-left: 5px;
  }

  .procedureText {
    font-weight: 100;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 40px;
  }
  .partTwoWrapper {
    padding: 36px 5vw;
  }
  .procedures {
    margin: 0;
  }
  .boxWrapper {
    width: 80vw;
    padding: 10px;
  }
  .operation {
    font-size: 14px;
    line-height: 19px;
  }
  .hospital {
    font-size: 12px;
    line-height: 16px;
  }
  .description {
    font-size: 12px;
    line-height: 16px;
  }
  .view {
    font-size: 10px;
    line-height: 14px;
  }
  .longLine {
    margin: 0 5px;
  }
  .partThreeWrapper {
    padding: 36px 5vw;
  }
  .departmentsText {
    font-weight: 100;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
  }
  .title {
    margin-bottom: 15px;
  }
  .departments {
    grid-template-columns: repeat(2, auto);
  }
  .department {
    padding: 10px;
    img {
      width: 52px;
    }
  }
  .departmentTitle {
    font-size: 14px;
    line-height: 150%;
  }
  .departmentText {
    font-size: 12px;
    line-height: 16px;
  }
  .partFourWrapper {
    padding: 36px 5vw;
  }
  .hospitals {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  .viewHospital {
    font-size: 14px;
    line-height: 150%;
  }
  .partFiveWrapper {
    padding: 36px 5vw;
  }
  .blogText {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
  }
  .blogs {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .partOneWrapper {
    padding: 36px 10vw;
    gap: 50px;
  }
  .partOneTop {
    flex-direction: column-reverse;
  }
  .partOneTopLeft {
    align-items: center;
    text-align: center;
  }
  .button {
    font-size: 10px;
    line-height: 13px;
    padding: 10px 37px;
  }
  .searchWrapper {
    padding: 20px;
  }
  .input {
    font-size: 12px;
    line-height: 16px;
    padding-left: 0px;
    width: 180px;
  }
  .searchWrapperInside2 {
    padding-left: 10px;
  }
  .partTwoWrapper {
    padding: 36px 5vw;
  }
  .title {
    font-size: 16px;
    line-height: 45px;
  }
  .procedureText {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 40px;
  }
  .procedures {
    margin: 0;
  }
  .operation {
    font-size: 14px;
    line-height: 19px;
  }
  .hospital,
  .description {
    font-size: 13px;
    line-height: 18px;
  }
  .view {
    font-size: 9.89495px;
    line-height: 13px;
  }
  .boxWrapper {
    padding: 10px;
    width: 25vw;
  }
  .imageHospital {
    width: 5vw;
  }
  .description {
    flex: 1 1 auto;
  }
  .boxWrapperTop {
    height: 8vh;
    align-items: center;
  }
  .partThreeWrapper {
    padding: 36px 5vw;
  }
  .departmentsText {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 40px;
  }
  .departments {
    display: flex;
    flex-wrap: wrap;
  }
  .department {
    padding: 10px;
    img {
      width: 78px;
    }
    width: 25vw;
  }
  .departmentTitle {
    font-size: 16px;
    line-height: 150%;
  }
  .departmentsText {
    font-size: 14px;
    line-height: 19px;
  }
  .departments:nth-of-type(3) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns in the last row */
    background-color: red;
  }
  .partFourWrapper {
    padding: 36px 5vw;
  }
}
